.simulatorContainer {
  display: flex;
}

.simulatorPreviewContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.simulatorSelectorContainer {
  width: 50%;
  height: 85vh;
  display: block;
  justify-content: center;
}

.simulatorPreview {
  position: absolute;
}

.boitierPreview {
  z-index: 2;
}

.braceletPreview,
.couronnePreview {
  z-index: 3;
}

.aiguillePreview {
  z-index: 3;
}

.simulatorPreviewContainer,
.simulatorPreview,
.simulatorPreview img {
  height: 85vh;
}
